img{
	border-radius: 50%;
	border:10px black solid ;
	padding: 0px;
	margin: 0px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  
}
body{
	background-color: black;
}
.text{
	color: black;
	text-align: center;
	padding: 20px;

}
.sec1{
	width: 10%;
	background-color:lightblue;
    height: 500px;
}

.container1{
	padding: 10px;
    border:2px #337ab7 solid;
    border-top: 2px #337ab7 solid;
}
.container2{
	padding: 10px;
	border:2px #337ab7 solid;
}
.container3{
	padding: 10px;
	border:2px #337ab7 solid;
	border-bottom: 4px #337ab7 solid;
}
.header{
	background-color: #337ab7;
}